/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cf {
  clear: both;
  line-height: 1px;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', Arial, sans-serif;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: Dolce-Vita;
  src: url("webfont/Dolce-Vita.ttf");
}
#navigation {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  background-color: #565759;
  background-color: rgba(86, 87, 89, 0.8);
  color: #FFFFFF;
  z-index: 90;
  display: none;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom: 1px solid #fff;
  box-shadow: 0px 5px 7px 2px rgba(0, 0, 0, 0.36);
}
#navigation img#nav-toggle {
  position: absolute;
  top: 15px;
  right: 40px;
  width: 30px;
  cursor: pointer;
}
#navigation img#nav-logo {
  display: block;
  z-index: 100;
  width: 67px;
  margin: 5px auto 0px auto;
}

@media screen and (max-width: 880px) {
  #navigation img#nav-toggle {
    right: 20px;
  }
}
.sidenav {
  height: 100%;
  width: 0;
  /* 0 width - change with JS */
  position: fixed;
  z-index: 80;
  top: 0;
  left: 0;
  background-color: #111;
  border-right: 1px solid #fff;
  overflow-x: hidden;
  padding-top: 120px;
  transition: 0.5s;
  /* slide in the sidenav */
  white-space: nowrap;
}
.sidenav #sidenav-wrapper {
  position: absolute;
  top: 70px;
  right: 0px;
  width: 250px;
  padding-left: 32px;
}
.sidenav .closebtn {
  text-align: right;
  padding: 0px 25px 30px 0px;
  font-size: 36px;
}
.sidenav a {
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav a.sidenav-social-fb {
  display: inline-block;
  padding: 40px 8px 8px 0px;
  margin: 0;
}
.sidenav a.sidenav-social-i {
  display: inline-block;
  padding: 40px 8px 8px;
  margin: 0;
}
.sidenav .fb {
  border-radius: 5px;
}
.sidenav .social {
  width: 30px;
  transition: all .2s ease-in-out;
}
.sidenav .social:hover {
  -ms-transform: scale(1.1);
      transform: scale(1.1);
}

@media screen and (max-width: 880px) {
  .sidenav a.sidenav-social-fb {
    padding: 40px 20px 8px 0px;
  }
}
.offcanvas a:focus {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
section#banner {
  background: #100000 url(_images/porter-snow.jpg) no-repeat fixed center;
  background-size: cover;
  background-position: fixed;
  position: relative;
  width: 100%;
  height: 100%;
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
}
section#banner img#banner-nav-toggle {
  position: absolute;
  top: 30px;
  right: 40px;
  width: 100%;
  max-width: 35px;
  z-index: 30;
  transition: all 0.3s ease;
  cursor: pointer;
}
section#banner .top-nowrap {
  width: 30%;
  max-width: 350px;
  min-width: 216px;
  box-sizing: border-box;
}
section#banner .top-nowrap img.img-one {
  width: 50%;
  max-width: 229px;
}
section#banner .top-nowrap img.img-two {
  width: 50%;
  max-width: 229px;
}
section#banner .top-nowrap a.loc {
  outline: none;
}
section#banner .top-nowrap a.loc:active {
  outline: none;
}
section#banner #hours-wrapper {
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  max-width: 350px;
  min-width: 216px;
}
section#banner #hours-wrapper img {
  max-width: 100%;
}
section#banner div#social-homepage {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: left;
      justify-content: left;
  position: relative;
  width: 100%;
  margin-top: 15px;
  margin-left: 4px;
}
section#banner div#social-homepage img {
  max-width: 55px;
  margin-right: 25px;
}
section#banner img#logo {
  width: 35%;
  max-width: 320px;
  position: relative;
  z-index: 25;
  transition: all 0.3s ease;
}

@media screen and (max-width: 880px) {
  section#banner {
    background: #100000 url(_images/porter-beer-snow-mobile.jpg) no-repeat;
    background-position: top;
    box-sizing: border-box;
    background-size: cover;
  }
  section#banner img#banner-nav-toggle {
    right: 20px;
  }
}
#social {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background: url(_images/social-background-dark.jpg) no-repeat fixed center;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 100px;
  color: #fff;
  text-align: center;
}
#social #social-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  padding: 20px 20px 50px 20px;
  width: 100%;
  background-color: #222;
  background-color: rgba(34, 34, 34, 0.9);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#222222+0,222222+100&0+0,0.59+5,1+12,1+12,1+53,0.92+88,0.38+96,0+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(34, 34, 34, 0) 0%, rgba(34, 34, 34, 0.59) 5%, #222222 12%, #222222 53%, rgba(34, 34, 34, 0.92) 88%, rgba(34, 34, 34, 0.38) 96%, rgba(34, 34, 34, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00222222', endColorstr='#00222222',GradientType=0 );
  /* IE6-9 */
}
#social #social-container h1 {
  margin-top: 40px;
  text-align: center;
  font-size: 2em;
  font-family: Dolce-Vita, 'Muli', sans-serif;
}
#social #social-container h2 {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 25px;
}
#social #social-container p.social-intro {
  margin-bottom: 35px;
}
#social #social-container #social-format {
  width: 100%;
  max-width: 1050px;
  padding-bottom: 50px;
  border-left: 1px solid orange;
  border-right: 1px solid orange;
}
#social #social-container #social-format #facebook-block {
  float: left;
  text-align: center;
  width: 50%;
}
#social #social-container #social-format #facebook-block p {
  color: #fff;
  line-height: 2em;
}
#social #social-container #social-format #facebook-block #facebook-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #fff;
}
#social #social-container #social-format #instagram-block {
  float: right;
  text-align: center;
  width: 50%;
}
#social #social-container #social-format #instagram-block p {
  color: #fff;
  line-height: 2em;
}
#social #social-container #social-format #instagram-block #instagram-container {
  width: 100%;
  max-width: 500px;
  height: 502px;
  margin: 0 auto;
  overflow-y: scroll;
  border: 1px solid #fff;
}

img.social-img {
  width: 100%;
  max-width: 50px;
}

@media screen and (max-width: 1075px) {
  #social #social-container {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  #social #social-container #social-format {
    border-right: none;
    border-left: none;
  }
  #social #social-container #social-format #facebook-block {
    width: 100%;
    float: none;
    margin: 0 auto;
  }
  #social #social-container #social-format #instagram-block {
    width: 100%;
    float: none;
    margin: 40px auto 0;
  }
}
#menu-container > div > div > div.menu-nav.ut-row.divider-color > div > div.menu-list > div:nth-child(even) > a {
  display: none;
}

#menu-container > div > div > div.menu-nav.ut-row.divider-color > div > div.menu-list > div:nth-child(odd) > a {
  color: #fff;
  background: #565759;
  padding: 15px;
  border: 1px solid #757575;
  margin: 18px 0px;
}
#menu-container > div > div > div.menu-nav.ut-row.divider-color > div > div.menu-list > div:nth-child(odd) > a:hover {
  background-color: #1b8c44;
  color: #fff;
  transition: all .25s ease;
}

#menu-container > div > div > div.menu-nav.ut-row.divider-color > div > div.menu-list > div:nth-child(odd) > a.active {
  color: #fff;
  background: #1b8c44;
  padding: 15px;
  border: 1px solid transparent;
  margin: 18px 0px;
}

.ut-menu .h1 {
  font-family: Dolce-Vita, 'Muli', sans-serif;
  letter-spacing: 2px;
  color: #1b8c44;
}

.ut-menu .menu-nav {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.ut-menu-standard .menu-items-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#menu-6463 > div:nth-child(3) > div.section-items-container > div.pagination-container {
  display: none;
}

section#taphunter {
  background-color: #ccc;
  position: relative;
}

section#menu-container {
  background-color: #280000;
  padding: 80px 0px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 520px) {
  .ut-menu-standard .menu-nav div.pull-right {
    text-align: center;
    padding: 10px 0px;
  }

  div.header-bg-color {
    display: none;
  }

  .ut-menu .menu-nav div.menu-list {
    text-align: center;
  }
}
section div#food-warning {
  width: 80%;
  margin: 8em auto 0 auto;
  padding: 12px 0px;
  font-size: 0.6em;
  text-align: center;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
}

section.menu-section {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto 30px auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

div.section-items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.section-title {
  width: 100%;
}

div#food {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background: #e1e1e1;
  background: url(_images/menu-chalkboard.jpg) repeat fixed center;
  background-size: cover;
  width: 100%;
  color: #fff;
  padding: 110px 0px;
}
div#food h2 {
  text-align: center;
  font-size: 2em;
  font-family: Dolce-Vita, 'Muli', sans-serif;
}
div#food h2.no-sub {
  margin-bottom: 1em;
}

p.section-sub {
  text-align: center;
  font-family: 'Lora', serif;
  margin-bottom: 2em;
  margin-top: 0.8em;
}

.menu-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 40%;
  max-width: 555px;
  margin: 10px 5%;
}

@media screen and (max-width: 800px) {
  div.section-items {
    width: 100%;
    margin: 0 auto;
  }

  .menu-item {
    width: 96%;
    max-width: 800px;
    margin: 0 auto 15px auto;
  }
}
.menu-price-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

div.item-name {
  font-family: 'Lora', serif;
  font-size: 1.2em;
  font-style: italic;
  color: #fff;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

div.dotted-line {
  border-bottom: 1px dotted #757575;
  border-bottom: 1px dotted #fff;
  margin: 0px 8px;
  -ms-flex-positive: 2;
      flex-grow: 2;
}

div.item-price {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.item-description {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 0.9em;
  line-height: 1.5em;
  margin-top: 0.4em;
}

div#location {
  background-color: #100000;
  position: relative;
  padding: 110px 20px 80px;
  color: #fff;
  color: #313131;
  background: url(_images/map-background.jpg) no-repeat fixed center;
  background-size: cover;
  width: 100%;
}
div#location #location-wrapper {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
div#location #location-wrapper .overlay {
  background: transparent;
  z-index: 75;
  position: relative;
  width: 100%;
  max-width: 1050px;
  height: 375px;
  /* iframe height */
  top: 375px;
  /* iframe height */
  margin: -375px auto 0px auto;
  /* iframe height */
}
div#location #location-wrapper #map {
  height: 375px;
  width: 100%;
  max-width: 1050px;
  display: block;
  margin: 0px auto;
}
div#location #location-wrapper #map a {
  box-sizing: border-box;
  background: inherit;
  width: auto;
  padding: 0;
  margin: 0;
  display: inline-block;
  border: none;
  line-height: 1.5em;
  height: auto;
  outline: none;
}
div#location #location-wrapper i.fa {
  display: inline-block;
  margin-right: 15px;
  font-size: 1.4em;
  width: 35px;
  text-align: center;
  color: #fff;
  color: #313131;
}
div#location #location-wrapper i.fa-map-marker {
  padding-bottom: 0.5em;
}
div#location #location-wrapper div.location-content {
  display: block;
  width: 50%;
  padding: 60px 0px;
  font-size: 1em;
  line-height: 1.5em;
}
div#location #location-wrapper div.location a {
  color: #fff;
  color: #313131;
  text-decoration: none;
}
div#location #location-wrapper div.location a:hover {
  text-decoration: none;
}
div#location #location-wrapper div.hours {
  padding-left: 20px;
}

a.loc {
  outline: none;
}
a.loc:active {
  outline: none;
}

@media screen and (max-width: 860px) {
  div#location div#location-wrapper div.location {
    padding: 25px 15px;
  }
  div#location div#location-wrapper div.location a {
    display: block;
    padding: 20px;
    text-align: center;
    background: #1c8c44;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px auto;
  }
  div#location div#location-wrapper div.hours {
    padding-top: 30px;
  }
}
@media screen and (max-width: 700px) {
  div#location div#location-wrapper div.location {
    padding-bottom: 30px;
  }
  div#location div#location-wrapper div.location-content {
    width: 100%;
  }
  div#location div#location-wrapper div.hours {
    padding-top: 0px;
  }
}
footer {
  background: #100000 url(_images/cutting-board-menu-bkg.jpg) no-repeat fixed;
  background-position: bottom;
  bottom: 0px;
  width: 100%;
  height: 480px;
  box-sizing: border-box;
  margin-bottom: -20px;
  position: relative;
}
footer p.copyright {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding: 260px 10% 0px;
  text-align: right;
  color: #fff;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9em;
  line-height: 1.5em;
}
footer p.copyright a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  padding: 0;
  background: inherit;
  border: none;
  margin: 0;
  display: inline-block;
  width: auto;
  transition: color 0.3s ease;
}
footer p.copyright a:hover {
  color: #fff;
}

div#lost img.lost-img {
  width: 96%;
  max-width: 1920px;
  display: block;
  margin: 0 auto;
}

p.pg-not-found {
  position: fixed;
  z-index: 3;
  bottom: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em;
  line-height: 1.5em;
  font-family: 'Muli', Arial, sans-serif;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
}
p.pg-not-found a {
  color: #fff;
  text-decoration: underline;
}
p.pg-not-found a:hover {
  text-decoration: none;
}

@media screen and (min-width: 860px) {
  .lg-gone {
    display: none;
  }
}
@media screen and (max-width: 860px) {
  .sm-gone {
    display: none;
  }
}
.back-to-top {
  display: none;
  z-index: 85;
  position: fixed;
  bottom: 0px;
  right: 30px;
  text-align: center;
  background-color: rgba(45, 45, 45, 0.6);
  padding: 10px 18px 10px 18px;
  color: #fff;
  text-decoration: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  box-shadow: -4px 4px 3px 0px rgba(50, 50, 50, 0.44);
  transition: background-color .3s ease;
  transition: padding .2s ease;
}
.back-to-top:hover {
  background-color: #505050;
  color: #fff;
  text-decoration: none;
  padding-bottom: 12px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
