/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cf {
  clear: both;
  line-height: 1px;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', Arial, sans-serif;
  width: 100%;
  height: 100%;
}

#navigation {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  background-color: #565759;
  color: #FFFFFF;
  z-index: 9900;
  display: none;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom: 1px solid #fff;
  box-shadow: 0px 5px 7px 2px rgba(0, 0, 0, 0.36);
}
#navigation img#nav-toggle {
  position: absolute;
  top: 15px;
  right: 40px;
  width: 30px;
}
#navigation img#nav-logo {
  display: block;
  z-index: 9901;
  width: 67px;
  margin: 5px auto 0px auto;
}

.nav-toggle {
  cursor: pointer;
}

/* The side navigation menu */
.sidenav .closebtn {
  padding-top: 60px;
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111;
  /* Black*/
  border-right: 1px solid #fff;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 120px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
section#intro {
  background: #100000 url(_images/evergreen-brewery-intro-bkg.jpg) no-repeat fixed;
  background-size: cover;
  background-position: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  height: 100vh;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  box-sizing: border-box;
}
section#intro nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  height: 60px;
  background: #565759;
  position: fixed;
  top: -60px;
  opacity: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  z-index: 10;
  text-align: center;
  color: #fff;
}
section#intro img#intro-nav-toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 100%;
  max-width: 50px;
  z-index: 12;
}
section#intro img#logo {
  width: 25%;
  max-width: 916px;
  position: relative;
  z-index: 11;
}

#menu-container > div > div > div.menu-nav.ut-row.divider-color > div > div.menu-list > div:nth-child(even) > a {
  display: none;
}

#menu-container > div > div > div.menu-nav.ut-row.divider-color > div > div.menu-list > div:nth-child(odd) > a {
  color: #fff;
  background: #565759;
  padding: 15px;
  border: 1px solid #757575;
  margin: 18px 0px;
}
#menu-container > div > div > div.menu-nav.ut-row.divider-color > div > div.menu-list > div:nth-child(odd) > a:hover {
  background-color: #1b8c44;
  color: #fff;
  transition: all .25s ease;
}

#menu-container > div > div > div.menu-nav.ut-row.divider-color > div > div.menu-list > div:nth-child(odd) > a.active {
  color: #fff;
  background: #1b8c44;
  padding: 15px;
  border: 1px solid transparent;
  margin: 18px 0px;
}

.ut-menu .h1 {
  color: #1b8c44;
}

.ut-menu .menu-nav {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.ut-menu-standard .menu-items-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#menu-6463 > div:nth-child(3) > div.section-items-container > div.pagination-container {
  display: none;
}

section#taphunter {
  background-color: #ccc;
  position: relative;
}

section#menu-container {
  padding: 150px 0px;
  overflow: hidden;
}

@media screen and (max-width: 520px) {
  .ut-menu-standard .menu-nav div.pull-right {
    text-align: center;
    padding: 10px 0px;
  }

  .ut-menu .menu-nav div.menu-list {
    text-align: center;
  }
}
section.menu-section {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto 30px auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

div.section-items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.section-title {
  width: 100%;
}

div#food {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background: #e1e1e1;
  background: url(_images/menu-bkg.jpg) repeat fixed;
  color: #fff;
  padding: 110px 0px;
}
div#food h2 {
  text-align: center;
  font-size: 2em;
  font-family: 'Muli', sans-serif;
}

p.section-sub {
  text-align: center;
  font-family: 'Lora', serif;
  margin-bottom: 2em;
  margin-top: 0.8em;
}

.menu-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 40%;
  max-width: 555px;
  margin: 10px 5%;
}

@media screen and (max-width: 800px) {
  div.section-items {
    width: 100%;
    margin: 0 auto;
  }

  .menu-item {
    width: 96%;
    max-width: 800px;
    margin: 0 auto 15px auto;
  }
}
.menu-price-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

div.item-name {
  font-family: 'Lora', serif;
  font-size: 1.2em;
  font-style: italic;
  color: #fff;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

div.dotted-line {
  border-bottom: 1px dotted #757575;
  margin: 0px 8px;
  -ms-flex-positive: 2;
      flex-grow: 2;
}

div.item-price {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.item-description {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 0.9em;
  line-height: 1.5em;
  margin-top: 0.4em;
}

div#contact {
  background-color: #100000;
  position: relative;
}
div#contact #map {
  height: 375px;
  width: 100%;
  max-width: 1050px;
  display: block;
  margin: 80px auto 30px auto;
}
div#contact #map a {
  box-sizing: border-box;
  background: inherit;
  width: auto;
  padding: 0;
  margin: 0;
  display: inline-block;
  border: none;
  line-height: 1.5em;
  height: auto;
}
div#contact .overlay {
  background: transparent;
  z-index: 10;
  position: relative;
  width: 100%;
  height: 375px;
  /* iframe height */
  top: 375px;
  /* iframe height */
  margin-top: -375px;
  /* iframe height */
}
div#contact i.fa {
  display: inline-block;
  margin-right: 15px;
  font-size: 1.4em;
  width: 35px;
  text-align: center;
  color: #fff;
}
div#contact div.location {
  padding: 80px 0px;
  background-color: #100000;
  color: #fff;
}
div#contact div.location a {
  color: #fff;
  text-decoration: none;
}
div#contact div.location a:hover {
  text-decoration: none;
}
div#contact .location p {
  color: #fff;
  width: 100%;
  max-width: 420px;
  margin: 10px auto;
  font-size: 1em;
  line-height: 1.5em;
}

footer {
  background: #100000 url(_images/dark-beer-footer-lg.png) no-repeat fixed;
  background-position: bottom;
  bottom: 0px;
  width: 100%;
  width: 100%;
  height: 460px;
  box-sizing: border-box;
}

p.copyright {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding: 200px 10% 0px;
  text-align: right;
  color: #fff;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9em;
}
p.copyright a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  padding: 0;
  background: inherit;
  border: none;
  margin: 0;
  display: inline-block;
  width: auto;
}
p.copyright a:hover {
  text-decoration: underline;
}

#overlay {
  visibility: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: left;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
}

#overlay > .body-txt {
  position: relative;
  width: 70%;
  height: 60%;
  text-align: left;
  overflow: scroll;
  margin: 100px auto 0px;
  background-color: #fff;
  border: 1px solid #000;
  padding: 15px;
}
#overlay > .body-txt p {
  line-height: 1.2em;
  margin: 1em;
}
#overlay > .body-txt ul {
  margin-left: 2em;
  list-style: disc;
}
#overlay > .body-txt ul li {
  margin: 1em 0 1em;
  list-style: disc;
}

#mheader {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  padding: 15px;
  color: #fff;
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 460px) {
  #overlay > .body-txt {
    margin: 15px auto 0px;
    width: 80%;
    height: 50%;
  }

  #mheader {
    width: 80%;
  }
}
a.modal-print {
  margin: 0px;
  padding: 5px 10px;
  line-height: 1.5em;
  border: none;
  display: inline;
  background: rgba(0, 0, 0, 0.1);
}
a.modal-print:hover {
  background: #313131;
  color: #fff;
}

a.modal-close {
  margin: 0px;
  padding: 10px;
  border: none;
  display: inline;
  z-index: 1000;
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  text-align: center;
  right: 20px;
  top: 5px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #000;
}

a.modal-close:hover {
  background: #d0112b;
}

a.modal-close-btm {
  margin: 0px 15px 0px;
  padding: 10px;
  border: none;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 460px) {
  a.modal-close {
    padding: 10px;
    border-radius: 50%;
    box-sizing: content-box;
  }
}
@media screen and (max-width: 550px) {
  a.modal-close {
    padding: 10px;
    border-radius: 50%;
    box-sizing: default;
  }

  a.modal-close-btm {
    margin: 15px auto;
    display: block;
  }

  #mheader {
    padding: 2px 15px;
    margin: 0px auto;
  }
}
@media screen and (min-width: 680px) {
  .lg-gone {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .sm-gone {
    display: none;
  }

  div#map-container #map {
    margin: 40px auto 0px auto;
  }

  div#map-container div.location {
    padding: 25px 0px;
  }
  div#map-container div.location a {
    display: block;
    padding: 20px;
    text-align: center;
    background: #1c8c44;
    border: 1px solid #fff;
    margin: 10px auto;
  }
}
.back-to-top {
  display: none;
  z-index: 1001;
  position: fixed;
  bottom: 0px;
  right: 30px;
  text-align: center;
  background-color: rgba(45, 45, 45, 0.6);
  padding: 10px 18px 10px 18px;
  color: #fff;
  text-decoration: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  box-shadow: -4px 4px 3px 0px rgba(50, 50, 50, 0.44);
  transition: background-color .3s ease;
  transition: padding .2s ease;
}
.back-to-top:hover {
  background-color: #505050;
  color: #fff;
  text-decoration: none;
  padding-bottom: 12px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
