#navigation {
	position:fixed;
	top:0px;
	width:100%; 
	height:60px; 
	background-color:#565759;
	color: #FFFFFF;
	z-index:9900;
	display: none;
	justify-content: center;
	align-items: center;
	align-content: center;	
	border-bottom: 1px solid #fff;
	box-shadow: 0px 5px 7px 2px rgba(0,0,0,0.36);
	img#nav-toggle {
		position: absolute;
		top: 15px;
		right: 40px;
		width: 30px;
	}
	img#nav-logo {
		display: block;
		z-index: 9901;
		width: 67px;
		margin: 5px auto 0px auto;

	}
}


.nav-toggle {
	cursor: pointer;
}
/* The side navigation menu */
.sidenav .closebtn {
	padding-top: 60px;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    border-right: 1px solid #fff;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 120px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}