footer {
	background: #100000 url(_images/dark-beer-footer-lg.png) no-repeat fixed;
	background-position: bottom;
	bottom: 0px;
	width: 100%;
	height: 480px;
	box-sizing: border-box;
	margin-bottom: -20px; // to get rid of whitespace that taphunter #menu-container puts at btm of pg
	p.copyright {
		box-sizing: border-box;
		width: 100%;
		height: 200px;
		padding: 260px 10% 0px;
		text-align: right;
		color: #fff;
		color: rgba(255,255,255,0.6);
		font-size: 0.9em;
		line-height: 1.5em;
		a {
			color: inherit;
			font-size: inherit;
			text-decoration: none;
			padding: 0;
			background: inherit;
			border: none;
			margin: 0;
			display: inline-block;
			width: auto;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
