footer {
	background: #100000 url(_images/cutting-board-menu-bkg.jpg) no-repeat fixed;
	background-position: bottom;
	bottom: 0px;
	width: 100%;
	height: 480px;
	box-sizing: border-box;
	margin-bottom: -20px; // to get rid of whitespace that taphunter #menu-container puts at btm of pg
	position: relative;
	// div.footer-top {
	// 	width: 100%;
	// 	height: 30px;
	// 	position: absolute;
	// 	top: 0;
	// 	background: url(_images/location-btm.png);
	// 	background-repeat: repeat-x;
	// }
	p.copyright {
		box-sizing: border-box;
		width: 100%;
		height: 200px;
		padding: 260px 10% 0px;
		text-align: right;
		color: #fff;
		color: rgba(255,255,255,0.6);
		font-size: 0.9em;
		line-height: 1.5em;
		a {
			color: inherit;
			font-size: inherit;
			text-decoration: none;
			padding: 0;
			background: inherit;
			border: none;
			margin: 0;
			display: inline-block;
			width: auto;
			transition: color 0.3s ease;
			&:hover {
				color: #fff;
			}
		}
	}
}


div#sign-up-hidden {
	display: none;
	width: 100%;
	height: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
}
div#footer-sign-up {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	height: 100vh;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.8);
	z-index: 1234567;

	div#ctr-cc {
		width: 100%;
		max-width: 500px;
		margin: 10px;
		a.cc-x {
			text-decoration: none;
			color: #000;
			padding: 20px;
			float: right;
			display: block;
			clear: both;
			// position: absolute;
			// top: 0;
			// right: 0;
			margin-bottom: 8px;
		}
	}
}
a.show-cc {
	padding: 20px;
	text-decoration: none;
	background-color: rgba(255,255,255,0.8);
	color: #333;
	border: 1px solid red;

}